<footer class="footer">
  <div class="container">
    <ul class="list-inline footer-links text-center">
      <li class="footer-copyright">Copyright &#169; Gold Team-CSE 112, Winter 2015. All Rights Reserved.
      </li>
    </ul>
  </div>
</footer>
