<footer class="footer">
  <div class="container">
    <ul class="list-inline footer-links text-center">
      <li class="footer-copyright">Copyright &#169; Team tee-bee-dee: CSE 112, Spring 2017. All Rights Reserved.
      </li>
    </ul>
  </div>
</footer>
