<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <span class="logo-mini"><b>A</b>LT</span>
    ENQUÉ
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <a href="/login" style="margin: 9px 14px 9px 0;" class="btn btn-sm btn-info btn-flat pull-right">Logout</a>
  </nav>
</header>
