<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/css/reset.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css">
  <script src="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js"></script>
  {{>styles}}
</head>
<body class="skin-blue">
  <div class="wrapper">
    {{>header}}
    {{>sidebar-admin}}
    <div class="content-wrapper">
      {{>analytics}}
      {{{body}}}
    </div>
    {{>footer}}
    {{>scripts}}
  </div>
</body>
</html>
