<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

 <div class="row">
         <div class="col-md-12">
             <div class="box box-info">
                 <div class="box-header with-border">
                     <h3 class="box-title">Patient List</h3>
 
                     <div class="box-tools pull-right">
                         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                 class="fa fa-minus"></i>
                         </button>
                     </div>
                 </div>
                 <!-- /.box-header -->
                 <div class="box-body">
   
                     <!-- /.table-responsive -->
                 </div>
                 <!-- /.box-body -->
                 <div class="box-footer clearfix">
                     <a href="#" class="btn btn-sm btn-success btn-flat pull-right">Check In</a>
                     <a href="#" class="btn btn-sm btn-warning btn-flat pull-right">Check Out</a>
                     <a href="#" class="btn btn-sm btn-info btn-flat pull-right">Reschedule</a>
                 </div>
                 <!-- /.box-footer -->
             </div>
         </div>
 </div>
    <div style = "width: 50%; margin: 0 auto;">
        <img src="http://i25.photobucket.com/albums/c97/evilsmith/resizeAnalytics_zpsrfxnhb9b.png" alt="Analytics">
    </div>

</section>