<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<div class="container" style=" box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);;">

{{#message}}
   <div class="alert alert-danger">{{message}}</div>
{{/message}}

    <h1><strong><div>Hi, {{employeeName}} {{employeeID}}</div></strong></h1>

    <!-- Individual Buisnesses have their own panel: wrap using {{for:each}} -->
    <div class="panel panel-danger">
    <div class="panel-heading" id="co1">
          <h4><strong>Pint 2.0</strong><span class="pull-right"><strong>Late</strong></h4>
    </div>
    <div class="panel-body co1b">
        <table style="width:100%">
        <colgroup>
          <col span="2" class="col-md-6">
        </colgroup>
            <tr>
            <td>Company Name: Pint 2.0</td>
            <td>Address: 2105 Garnet Ave. San Diego, CA 92109</td> 
          </tr>

          <tr>
            <td>Owner: Thomas A. Powell</td>
            <td>Description: Web dev</td> 
          </tr>
          <tr>
            <td>Contact: 858-270-2086</td>
            <td>Notes: </td>
          </tr>
        </table>
    </div>
    </div>

    <div class="panel panel-success">
    <div class="panel-heading" id="co2">
          <h4><strong>Fubar</strong><span class="pull-right"><strong>Paid</strong></h4>
    </div>
    <div class="panel-body co2b">
        <table style="width:100%">
        <colgroup>
          <col span="2" class="col-md-6">
        </colgroup>
            <tr>
            <td>Company Name: Fubar</td>
            <td>Address: 2105 Garnet Ave. San Diego, CA 92109</td> 
          </tr>

          <tr>
            <td>Owner: Gev Gev</td>
            <td>Description: Web developer co</td> 
          </tr>
          <tr>
            <td>Contact: 858-270-2086</td>
            <td>Notes: </td>
          </tr>
        </table>
    </div>
    </div>

     <div class="panel panel-warning">
    <div class="panel-heading" id="co3">
          <h4><strong>Quart 3.0</strong><span class="pull-right"><strong>Pending</strong></h4>
    </div>
    <div class="panel-body co3b">
        <table style="width:100%">
        <colgroup>
          <col span="2" class="col-md-6">
        </colgroup>
            <tr>
            <td>Company Name: Quart 3.0</td>
            <td>Address: 2105 Garnet Ave. San Diego, CA 92109</td> 
          </tr>

          <tr>
            <td>Owner: Gev Gev</td>
            <td>Description: Web developer co</td> 
          </tr>
          <tr>
            <td>Contact: 858-270-2086</td>
            <td>Notes: </td>
          </tr>
        </table>
    </div>
    </div>
  </div>

</div>