<section class="content-header">
  <h1>Form Editor </h1>
  <div id="txt" class="pull-right"></div>
  <h1 class="pull-right" id="currentDate"></h1>
</section>
<section class="content">
  <div id="formBuilder"></div>
  {{>scripts}}
  <script src="/plugins/formBuilder/form-builder.min.js"></script>
  <script src="/plugins/formBuilder/form-render.min.js"></script>
  <script>
  jQuery(function($) {
    var form = '{{form}}';
    form = form.replace(/&quot;/g,'"');
    var formBuilder = $(document.getElementById('formBuilder')).formBuilder({
      disabledActionButtons: ['save'],
      formData: form,
      dataType: 'json',
      actionButtons: [
        {
          id: 'saveForm',
          className: 'btn btn-success',
          label: 'Save Form',
          type: 'button',
          events: {
            click: saveForm
          }
        }
      ]
    });

    function saveForm() {
      var form = formBuilder.actions.getData();
      $.post('/forms', {
        form: JSON.stringify(form)
      });
    }
  });
  </script>
</section>
