<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Patient List</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Doctor</th>
                                <th>Appointment Time</th>
                                <th>Check In Time</th>
                                <th>Status</th>
                                <th>New Patient</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>Gev</td>
                                <td>Henry</td>
                                <td>10:40AM</td>
                                <td style="color: red">10:54AM</td>
                                <td>Lobby</td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>Yen</td>
                                <td>Henry</td>
                                <td>11:00AM</td>
                                <td style="color: rgba(26, 128, 15, 0.83)">10:36AM</td>
                                <td>Checked In</td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>Jax</td>
                                <td>Andrew</td>
                                <td>9:30AM</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="#" class="btn btn-sm btn-success btn-flat pull-right">Check In</a>
                    <a href="#" class="btn btn-sm btn-warning btn-flat pull-right">Check Out</a>
                    <a href="#" class="btn btn-sm btn-info btn-flat pull-right">Reschedule</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>
</section>